/MessageStructure.class
/AppMessage.class
/FinishMessage.class
/MarkerMessage.class
/StateMessage.class
/StreamMessage.class
/SendMessageClass.class
/SendMessageThread.class
/ReceiveMessageClass.class
/ReceiveThread.class
/ApplicatonMessage.class
/MarkerMsg.class
/SnapshotProtocolClass.class
/StateMsg.class
/SnapshotHandlerClass.class
/MessageStructure$ApplicatonMessage.class
/MessageStructure$MarkerMsg.class
/MessageStructure$StateMsg.class
